{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}
{% block extrahead %}<meta http-equiv="refresh" content="10;url=/">{% endblock %}
{% block content %}
		<div class="box">
			<h2>Oops! We've runned out of bubbles!</h2>
			<div>
				{% if message %}{{ message }}{% else %}Page you requested could not be found.{% endif %}
			</div>
			<div class="grey">{% if referrer %}<a href="{{ referrer }}">Go back</a> &bull; {% endif %}{% if uri %}<a href="{{ uri }}">Go to suggested page</a> &bull; {% endif %}<a href="/">Go to homepage</a></div>
		</div>
{% endblock %}