{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block menu %}
				<li><a href="/" id="current">Home</a></li>
				<li><a href="/forum">Forum</a></li>
				<li><a href="/chat">Chat</a></li>
{% endblock %}
{% block content %}
{% if entries %}
{% for entry in entries %}
		<div class="box">
			<h2><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a></h2>
			<div>{{ entry.body_html }}</div>
			<div class="grey">by {{ entry.author }} on {{ entry.published|date:"r" }}{% if entry.it_was_updated %} (with later changes){% endif %}{% if admin %}<br /><a href="/admin/entry/edit/{{ entry.slug }}">edit</a> &bull; <a href="/admin/entry/delete/{{ entry.slug }}">delete</a>{% endif %}</div>
		</div>
{% endfor %}
{% else %}
		<div class="box">
			<h2>No entries</h2>
			<p class="grey">Sorry.</p>
		</div>
{% endif %}
{% endblock %}
