{% extends 'base.html' %}

{% block content %}
		<div class="box">
			<h2>Delete category "{{ title }}"?</h2>
			<p>Are you sure?</p>
			<div>
				<form action="/forum/admin/delete/category/{{ slug }}/" method="post" accept-charset="utf-8">
					<span class="input"><input type="submit" name="delete_confirmation" value="yes" id="delete_confirmation" /><input type="submit" name="delete_confirmation" value="no" id="delete_confirmation" /><span class="note">Note: all posts and topics in this category will be permamently erased</span></span>
				</form>

			</div>
		</div>

{% endblock %}
