{% extends 'base.html' %}

{% block content %}
		<div class="post_header">Edit topic:</div>
		<div class="post">
			<h2>Warning: You can NOT undo these changes!</h2>
			<form action="/forum/admin/edit/topic/{{ slug.category }}/{{ slug.topic }}" method="post">
				<span class="input"><input type="text" name="title" onkeyup="slugify('slug', this.value)" value="{{ title|escape }}" /></span>
				<span class="input"><input type="text" name="slug" id="slug" value="{{ slug.topic }}" /></span>
				<span class="input">
					<select name="category">
					{% for category in categories %}
						<option value="{{ category.slug }}"{% ifequal category.slug slug.category %} selected="selected"{% endifequal %}>{{ category.title }}</option>
					{% endfor %}
					</select>
				</span>
				<span class="input"><textarea name="content">{{ content }}</textarea></span>
				<span class="input checkbox"><input type="checkbox" name="sticky" {% if sticked %} checked="checked"{% endif %} />Stick topic</span>
				<span class="input checkbox"><input type="checkbox" name="closed" {% if closed %} checked="checked"{% endif %}/>Close topic</span>
				<span class="input"><input type="submit" value="Update"/><span class="note">Note: You can use <a href="/help/markup">bbcode syntax</a> (html is <b>not</b> allowed)</span></span>
			</form>
		</div>
{% endblock %}
