{% extends 'base.html' %}

{% block content %}
		<div class="post_header">Edit category:</div>
		<div class="post">
			<h2>Warning: You can NOT undo this changes!</h2>
			<form action="/forum/admin/edit/category/{{ slug }}" method="post">
				<span class="input"><input type="text" name="title" onkeyup="slugify('slug', this.value)" value="{{ title }}" /></span>
				<span class="input"><input type="text" name="slug" id="slug" value="{{ slug }}" /></span>
				<span class="input"><input type="text" name="desc" value="{{ desc }}" /></span>
				<span class="input"><input type="submit" value="Update"/></span>
			</form>
		</div>
{% endblock %}
