{% extends 'base.html' %}

{% block content %}
		<div class="post_header">
			<a href="/forum">The Puppets Masters</a> &raquo; <a href="/forum/{{ slug.category }}">{{ category }}</a> &raquo; {{ topic }}
		</div>
		{% for post in posts %}
		<div class="post">
			<h2>{{ post.post.title|escape }}</h2>
			<p>{{ post.post.content_html }}{% if profile.signature_html %}<span class="sig"><hr/>{{ post.profile.signature_html }}</span>{% endif %}</p>
			<p class="grey">
			{% if admin %}
				{% if not forloop.first %}
				<span><a href="/forum/admin/delete/post/{{ post.post.key }}"><img src="/static/delete.png" alt="Delete icon" title="Delete" /></a></span>
				<span><a href="/forum/admin/edit/post/{{ post.post.key }}"><img src="/static/edit.png" alt="Edit icon" title="Edit" /></a></span>
				{% endif %}
			{% endif %}
				posted by <a href="mailto:{{ post.post.user.email }}">{{ post.profile.screenname|default:post.post.user.nickname|escape }}</a> on {{ post.post.date|date:"r" }}
			</p>

		</div>
		{% endfor %}

		{% if user and not closed %}
		<div class="post">
			<h2>Create reply:</h2>
			<form action="/forum/{{ slug.category }}/{{ slug.topic }}" method="post">
				<span class="input"><input name="title" value="{{ title }}" /></span>
				<span class="input"><textarea name="content"></textarea></span>
				<span class="input"><input type="submit" value="Create"/><span class="note">Note: You can use <a href="/help/markup">bbcode syntax</a> (html is <b>not</b> allowed)</span></span>
			</form>
		</div>
		{% endif %}
{% endblock %}
