{% extends 'base.html' %}

{% block content %}
		<div class="post_header">
			<a href="/forum">The Puppets Masters</a> &raquo; <a href="/forum/{{ slug }}">{{ category }}</a>
		</div>
		<div class="post">
			<h2>Topics list</h2>

			{% if topics %}
			<table id="forum">
				<tr>
					<th>&nbsp;</th>
					<th class="left">Title</th>
					<th>Replies</th>
					<th>Last post</th>
				{% if admin %}
					<th colspan="2">Admin</th>
				{% endif %}
				</tr>
			{% for topic in topics %}
				{% if topic.sticked %}
				<tr class="sticky" title="Sticked topic">
					<td><img src="/static/sticked.png" alt="sticked icon" /></td>
				{% else %}
				<tr>
					<td>&nbsp;</td>
				{% endif %}
					<td><a href="/forum/{{ slug }}/{{ topic.oldest.topic_id }}">{{ topic.oldest.title|escape }}</a></td>
					<td class="replies">{{ topic.replies }}</td>
					<td class="last_post">posted {{ topic.newest.date|timesince }} ago<br/> by {{ topic.newest.user }}</td>
				{% if admin %}
					<td class="icon"><a href="/forum/admin/edit/topic/{{ slug }}/{{ topic.oldest.topic_id }}"><img src="/static/edit.png" alt="Edit icon" title="Edit" /></a></td>
					<td class="icon"><a href="/forum/admin/delete/topic/{{ slug }}/{{ topic.oldest.topic_id }}"><img src="/static/delete.png" alt="Delete icon" title="Delete" /></a></td>
				{% endif %}
				</tr>
			{% endfor %}
			</table>
			{% else %}
			<p>No topics found in this category.</p>
			{% endif %}
		</div>

		{% if user %}
		<div class="post">
			<h2>Create new topic:</h2>
			<form action="/forum/{{ slug }}" method="post">
				<span class="input"><input type="text" name="title" onkeyup="slugify('slug', this.value)" /></span>
				<span class="input"><input type="text" name="slug" id="slug" /></span>
				<span class="input"><textarea name="content"></textarea></span>
			{% if admin %}
				<span class="input checkbox"><input type="checkbox" name="sticky" />Stick topic</span>
			{% endif %}
				<span class="input"><input type="submit" value="Create"/><span class="note">Note: You can use <a href="/help/markup">bbcode syntax</a> (html is <b>not</b> allowed)</span></span>
			</form>
		</div>
		{% endif %}
{% endblock %}
