{% extends 'base.html' %}

{% block title %}Bad request{% endblock %}
{% block extrahead %}<meta http-equiv="refresh" content="10;url=/">{% endblock %}
{% block content %}
		<div class="box">
			<h2>Your methods are wrong, Herr Flick!</h2>
			<div>
				{% if error_message %}{{ error_message }}{% else %}Bad request. Nothing more.{% endif %}
			</div>
			<div class="grey">{% if referer %}<a href="{{ referer }}">Go back</a> &bull; {% endif %}<a href="/">Go to homepage</a></div>
		</div>
{% endblock %}