{% extends 'base.html' %}

{% block title %}Access denied{% endblock %}
{% block extrahead %}<meta http-equiv="refresh" content="10;url=/">{% endblock %}
{% block content %}
		<div class="box">
			<h2>You can't enter here, sir!</h2>
			<div>
				{% if message %}{{ message }}{% else %}You have attempted to access a page for which you are not authorized.{% endif %}
			</div>
			<div class="grey">{% if referer %}<a href="{{ referer }}">Go back</a> &bull; {% endif %}<a href="/">Go to homepage</a></div>
		</div>
{% endblock %}
