{% extends 'base.html' %}

{% block title %}Chat{% endblock %}
{% block menu %}
				<li><a href="/">Home</a></li>
				<li><a href="/clanwars">Clanwars</a></li>
				<li><a href="/forum">Forum</a></li>
				<li><a href="/chat" id="current">Chat</a></li>
{% endblock %}
{% block content %}
		<div class="box">
			<h2>IRC</h2>
			<div><iframe src="http://webchat.freenode.net/?nick={% if user %}{{ nickname }}{% else %}thepuma..{% endif %}&amp;channels=thepuma" width="100%" height="400" style="border:0"></iframe></div>
			<div class="grey">You can also visit us using your favourite irc client.<br />Connect to <strong>irc.freenode.net</strong> server and join <strong>#thepuma</strong> channel.</div>
		</div>
{% endblock %}
