{% extends 'base.html' %}

{% block title %}Avatar &laquo; User CP{% endblock %}
{% block content %}
		<div class="post_header">
			<a href="/user/{{ username }}">User CP Home</a> &raquo; <a href="/user/{{ username }}/avatar">Avatar</a>
		</div>
		<div class="post">
			<h2>Avatar:</h2>
			<form action="/user/{{ username }}/avatar" enctype="multipart/form-data" method="post">
				<p><span>Your current avatar:
			{% if form_profile.avatar %}
				<div class="av_preview">
					<img src="/avatar/{{ form_profile.key }}" />
				</div>
			{% else %}
				No avatar is currently uploaded.
			{% endif %}
				</span></p>
				<span class="input file">Upload avatar: <input type="file" name="avatar" /></span>
				<span class="input"><input type="submit" name="delete" value="Delete avatar" /></span>
				<span class="input"><input type="submit" value="Send" /></span>
			</form>
		</div>
{% endblock %}
