{% extends 'base.html' %}

{% block title %}User CP{% endblock %}
{% block content %}
		<div class="post_header">
			<a href="/user/{{ username }}">User CP Home</a>
		</div>
		<div class="post">
			<h2>User Control Panel{% ifnotequal profile.user.nickname username %} ({{ username }}'s){% endifnotequal %}</h2>
			<table id="forum">
				<tr>
					<td><a href="/user/{{ username }}/profile">Profile</a><span>change your personal info</span></td>
				</tr>
				<tr>
					<td><a href="/user/{{ username }}/avatar">Avatar</a><span>upload an avatar</span></td>
				</tr>
				<tr>
					<td><a href="/user/{{ username }}/signature">Signature</a><span>set up your signature</span></td>
				</tr>
			</table>
		</div>
{% endblock %}