{% extends 'base.html' %}

{% block title %}User CP{% endblock %}
{% block content %}
		<div class="post_header">
			<a href="/user">User CP Home</a>
		</div>
		<div class="post">
			<h2>User Control Panel</h2>
			<table id="forum">
				<tr>
					<td><a href="/user/profile">Profile</a><span>change your personal info</span></td>
				</tr>
				<tr>
					<td><a href="/user/avatar">Avatar</a><span>upload an avatar</span></td>
				</tr>
				<tr>
					<td><a href="/user/signature">Signature</a><span>set up your signature</span></td>
				</tr>
			</table>
		</div>
{% endblock %}